.container{
  display: flex;
  flex-direction: column;
}

/* STYLE BANNER */

.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 200px;
  margin: 100px auto;
  font-weight: 600;
  font-size: 23px;
  /* background-color: red; */
}
.banner p{
  text-align: center;
}


/* STYLE FORM FILES */

.formFiles{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100px;
  margin: 20px auto;
  border: 1px dotted grey;
  /* background-color: red; */
}


@media (max-width: 600px) {
  /* .grid {
    width: 100%;
    flex-direction: column;
  } */
}

/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
